---
import Layout from "@/layouts/Layout.astro";
import ShippingForm from "@/sections/QuoteForm";
---

<Layout title="Quote" description="Quote Page">
  <main class="bg-background">
    <ShippingForm client:visible />
  </main>
</Layout>
