---
import Layout from "@/layouts/Layout.astro";
import ShippingForm from "@/sections/QuoteForm";
---

<script type="application/ld+json">
  {`
  {
    "@context": "https://schema.org",
    "@type": "Service",
    "serviceType": "Heavy Hauling Quote Request",
    "provider": {
      "@type": "Organization",
      "name": "Royal Fast and Safe",
      "url": "https://royalfastandsafe.com"
    },
    "areaServed": "US",
    "description": "Request a free, fast quote for transporting machinery, heavy loads, and oversized loads in the USA. Royal Fast and Safe is your expert heavy hauling company.",
    "hasOfferCatalog": {
      "@type": "OfferCatalog",
      "name": "Transportation Services",
      "itemListElement": [
        {
          "@type": "Offer",
          "itemOffered": {
            "@type": "Service",
            "name": "Heavy Hauling"
          }
        },
        {
          "@type": "Offer",
          "itemOffered": {
            "@type": "Service",
            "name": "Oversize Load Transport"
          }
        },
        {
          "@type": "Offer",
          "itemOffered": {
            "@type": "Service",
            "name": "Machinery Transport"
          }
        }
      ]
    }
  }
  `}
  </script>

<Layout
  seo={{
    title: "Heavy Haul Online Quote | Royal Fast & Safe Transport Services",
    description:
      "Request your personalized shipping quote in minutes. Competitive rates and cost efficient for transport services",
    ogTitle: "Get a Quote | Royal Fast & Safe Transport Services",
    ogDescription:
      "Request your personalized shipping quote in minutes. Competitive rates and cost efficient for transport services",
    ogType: "website",
    ogUrl: "https://royalfastandsafe.com/quote",
    ogImage: "https://royalfastandsafe.com/og.jpg",
    twitterTitle: "Get a Quote | Royal Fast & Safe Transport Services",
    twitterDescription:
      "Request your personalized shipping quote in minutes. Competitive rates and cost efficient for transport services",
    twitterImage: "https://royalfastandsafe.com/og.jpg",
  }}
>
  <main class="bg-background">
    <ShippingForm client:visible />
  </main>
</Layout>
