---
import Layout from "@/layouts/Layout.astro";
import ShippingForm from "@/sections/QuoteForm";
---

<Layout
  seo={{
    title: "Heavy Haul Online Quote | Royal Fast & Safe Transport Services",
    description:
      "Request your personalized shipping quote in minutes. Competitive rates and cost efficient for transport services",
    ogTitle: "Get a Quote | Royal Fast & Safe Transport Services",
    ogDescription:
      "Request your personalized shipping quote in minutes. Competitive rates and cost efficient for transport services",
    ogType: "website",
    ogUrl: "https://royalfastandsafe.com/quote",
    ogImage: "https://royalfastandsafe.com/og.jpg",
    twitterTitle: "Get a Quote | Royal Fast & Safe Transport Services",
    twitterDescription:
      "Request your personalized shipping quote in minutes. Competitive rates and cost efficient for transport services",
    twitterImage: "https://royalfastandsafe.com/og.jpg",
  }}
>
  <main class="bg-background">
    <ShippingForm client:visible />
  </main>
</Layout>
