---
import { getTranslationFromURL } from "@/i18n/utils";

const t = getTranslationFromURL(Astro.url.pathname);
---

<nav class="hidden lg:flex gap-8 text-sm nav-text">
  {
    Object.values(t.routes).map((route: any, key) => (
      <a
        href={route.href}
        class:list={[
          "hover:text-primary-300 py-1 border-b-2 border-b-transparent transition hover:border-b-primary-600 font-semibold text-lg",
          "active:border-b-javascript",
        ]}
        id={`navdesk-link-${key}`}
      >
        <button class="cursor-pointer">{route.title}</button>
      </a>
    ))
  }
</nav>

<style>
  .active {
    border-bottom-color: #b29e40;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll('a[id^="navdesk-link-"]');
    links.forEach((link) => {
      link.addEventListener("click", () => {
        links.forEach((l) => l.classList.remove("active"));
        link.classList.add("active");
      });
    });
  });
</script>
