---
import BentoSection from "@/components/Bento";
---

<div id="about" class="container bg-background py-10 sm:py-16">
  <h2 class="text-center text-base/7 font-semibold text-accent">About Us</h2>
  <h3
    class="mx-auto my-3 text-center text-4xl font-medium tracking-tight text-balance text-foreground sm:text-5xl"
  >
    Comprehensive Freight Solutions Tailored for you
  </h3>
  <BentoSection client:visible />
</div>
