---
import SectionTitle from "@/components/SectionTitle.astro";
import SliderExperience from "@/components/SliderExperience";
---

<section class="" id="experience">
  <div class="container px-4 md:px-8">
    <SectionTitle title="Our Expertise in Heavy Haul" />
  </div>
  <SliderExperience client:visible />
</section>
