---
import ExperienceCarousel from "@/components/ExperienceCarousel";
import SectionTitle from "@/components/SectionTitle.astro";
---

<section class="">
  <div class="container px-4 md:px-8">
    <SectionTitle title="Our Expertise in Heavy Haul" />
  </div>
  <ExperienceCarousel client:load />
</section>
