---
import SectionTitle from "@/components/SectionTitle.astro";
import SliderExperience from "@/components/SliderExperience";

const { t } = Astro.props;
---

<section class="" id="experience">
  <div class="container px-4 md:px-8">
    <SectionTitle title={t.experience.title} />
  </div>
  <SliderExperience t={t} client:visible />
</section>
