<footer
  class="flex-1 max-w-7xl w-full bg-transparent text-gray-400 dark:text-white py-12 px-4 mt-10 mx-auto"
>
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-2xl font-bold text-primary-500 mb-4">Royal Fast & Safe</h2>
    <div class="flex items-center justify-center gap-5">
      <p class="text-lg">info@royalfastandsafe.com</p>
      <a
        href="/privacy"
        class="text-gray-400 dark:text-white hover:text-primary-500"
      >
        Privacy Policy
      </a>
    </div>
  </div>
  <hr class="border-t border-primary-500 my-10" />
  <div class="text-base text-center my-10">
    &copy; {new Date().getFullYear()} - All rights reserved.
  </div>
</footer>
