<footer
  class="flex-1 max-w-7xl w-full bg-transparent text-gray-400 py-12 px-4 mt-10 mx-auto"
>
  <hr class="border-t border-primary-500 my-10" />
  <div class="text-base text-center my-10">
    &copy; {new Date().getFullYear()} Royal Fast & Safe - All rights reserved.
  </div>
</footer>
