---
import { routes } from "@/data/header";
import {
  IconBrandFacebook,
  IconBrandInstagram,
  IconBrandX,
  IconBrandLinkedin,
} from "@tabler/icons-react";
---

<footer
  class="max-w-7xl bg-transparent border-t border-primary-300 text-gray-400 py-12 px-4 mt-10 mx-auto"
>
  <div class="max-w-6xl mx-auto flex flex-col items-center gap-8">
    {/* Navigation Links */}
    <nav class="flex flex-wrap justify-center gap-6 sm:gap-8">
      {
        routes.map((route) => (
          <a
            href={route.href}
            class="text-foreground border-b hover:border-primary-500 transition-colors"
          >
            {route.title}
          </a>
        ))
      }
    </nav>

    {/* Social Media Icons */}
    <div class="flex gap-6">
      <a href="#" class="hover:text-gray-300 transition-colors">
        <IconBrandFacebook className="h-5 w-5" />
        <span class="sr-only">Facebook</span>
      </a>
      <a href="#" class="hover:text-gray-300 transition-colors">
        <IconBrandInstagram className="h-5 w-5" />
        <span class="sr-only">Instagram</span>
      </a>
      <a href="#" class="hover:text-gray-300 transition-colors">
        <IconBrandX className="h-5 w-5" />
        <span class="sr-only">Twitter</span>
      </a>
      <a href="#" class="hover:text-gray-300 transition-colors">
        <IconBrandLinkedin className="h-5 w-5" />
        <span class="sr-only">GitHub</span>
      </a>
    </div>

    {/* Copyright */}
    <div class="text-sm">
      © {new Date().getFullYear()} Your Company, Inc. All rights reserved.
    </div>
  </div>
</footer>
