---
import { TextGenerateEffect } from "@/components/ui/text-generate-effect";
import { InteractiveButton } from "@/components/ui/interactive-button";
import { ArrowDown } from "lucide-react";
---

<header class="relative flex h-dvh w-full items-center justify-center">
  <main
    class="bg-[url('/hero.webp')] relative h-full w-full bg-cover bg-center pb-28 drop-shadow-lg"
  >
    <div
      class="flex flex-col h-full w-full items-center justify-center p-4 gap-11 mx-auto my-auto max-w-4xl"
    >
      <div class="flex flex-col items-center justify-center gap-10 text-center">
        <h1 class="my-8">
          <TextGenerateEffect
            client:load
            words="Your Partner for Complex Logistics"
          />
        </h1>
      </div>
      <div class="flex items-center justify-center gap-5">
        <a href="/quote" class="uppercase dark:text-white">
          <InteractiveButton> Free Quote Now </InteractiveButton>
        </a>
      </div>
      <ArrowDown
        size={48}
        className="md:hidden text-primary-500 dark:text-primary-400 animate-bounce mt-20"
      />
    </div>
  </main>
</header>
