---

---

<div
  class="absolute container h-[80vh] bg-[url(/hero-banner.webp)] bg-cover bg-center brightness-[45%] rounded-2xl top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
>
</div>
<div class="relative mx-auto max-w-3xl py-32 sm:py-48 lg:py-56">
  <div class="hidden sm:mb-8 sm:flex sm:justify-center">
    <div class="flex items-center gap-6">
      <img src="/flags/usa.svg" alt="USA" class="h-9 w-9" decoding="async" />
      <img
        src="/flags/canada.svg"
        alt="Canada"
        class="h-9 w-9"
        decoding="async"
      />
      <img
        src="/flags/mexico.svg"
        alt="Mexico"
        class="h-9 w-9"
        decoding="async"
      />
    </div>
  </div>
  <div class="text-left sm:text-center p-3 sm:p-0">
    <h1
      class="w-full text-5xl font-medium tracking-tight text-white sm:text-7xl p-3 capitalize"
    >
      Your Partner for complex logistics
    </h1>
    <p class="mt-8 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
      We specialize in freight, heavy haul, and container shipping across the
      USA, Mexico, and Canada. Our expert team is dedicated to delivering
      reliable and efficient logistics services tailored to your unique needs.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        href="/quote"
        class="rounded-2xl text-accent text-xl font-medium uppercase px-8 py-4 bg-[#262626] hover:bg-primary-600 hover:text-white transition-colors duration-200 ease-in-out"
        >Free Quote Now</a
      >
    </div>
  </div>
</div>
