---
import { Button } from "@/components/ui/button";
import { TextGenerateEffect } from "@/components/ui/text-generate-effect";
import { InteractiveButton } from "@/components/ui/interactive-button";
---

<header class="container text-center">
  <main
    class="bg-[url('/hero.webp')] h-[650px] mt-5 bg-cover bg-center rounded-lg pt-7 pb-28 drop-shadow-lg"
  >
    <div
      class="flex flex-col h-full w-full items-center justify-center p-4 gap-11 mx-auto my-auto max-w-4xl"
    >
      <div class="flex flex-col items-center justify-center gap-10">
        <div class="sm:mb-8 flex justify-center">
          <div class="flex gap-6">
            <img
              src="/flags/usa.svg"
              alt="USA"
              class="h-9 w-9"
              decoding="async"
            />
            <img
              src="/flags/canada.svg"
              alt="Canada"
              class="h-9 w-9"
              decoding="async"
            />
            <img
              src="/flags/mexico.svg"
              alt="Mexico"
              class="h-9 w-9"
              decoding="async"
            />
          </div>
        </div>
        <h1 class="mb-8">
          <TextGenerateEffect
            client:load
            words="Your Partner for Complex Logistics"
          />
        </h1>

        <!-- <p class="text-xl text-left max-w-xl text-gray-300">
          We specialize in freight, heavy haul, and container shipping across
          the USA, Mexico, and Canada. Our expert team is dedicated to
          delivering reliable and efficient logistics services tailored to your
          unique needs.
        </p> -->
      </div>
      <div class="flex items-center justify-center gap-5">
        <!-- <Button asChild className="">
          <a
            href="/quote"
            class="rounded-2xl text-accent text-xl font-medium uppercase px-8 py-4 bg-[#262626] hover:bg-primary-600 hover:text-white transition-colors duration-200 ease-in-out"
            >Free Quote Now</a
          >
        </Button> -->
        <InteractiveButton>
          <a href="/quote" class="uppercase">Free Quote Now</a>
        </InteractiveButton>
      </div>
    </div>
  </main>
</header>
