---
import { IconExternalLink } from "@tabler/icons-react";
import { logosGrid } from "@/data/logoGrid";
import type { LogoGrid } from "@/data/logoGrid";
---

<section class="py-8">
  <div class="container px-4 md:px-8">
    <h2 class="text-center text-base/7 font-semibold text-accent">Partners</h2>
    <div class="max-w-xl mx-auto text-center">
      <h3
        class="mx-auto mt-2 text-center text-4xl font-medium tracking-tight text-balance text-gray-950 sm:text-5xl"
      >
        Hauling from our partners
      </h3>
      <p class="text-gray-500 mt-3">
        We are proud to partner with strategic allies who share our vision and
        commitment to excellence. These leading brands join us in our mission to
        deliver innovative, high-quality solutions, driving success and trust in
        every project together.
      </p>
    </div>
    <div class="mt-12 flex justify-center">
      <ul
        class="inline-grid grid-cols-2 gap-x-10 gap-y-6 md:gap-x-16 md:grid-cols-3 lg:grid-cols-4"
      >
        {
          logosGrid.map((logo: LogoGrid) => (
            <li class="bg-white p-4 rounded-xl flex flex-col items-center justify-center gap-2">
              <img
                src={logo.logo}
                alt={logo.name}
                class="w-[60%] object-contain object-center"
              />
              <a
                href={logo.link}
                class="flex items-center justify-center gap-1 hover:underline hover:text-primary-500"
              >
                <span>View Profile</span>
                <IconExternalLink size={16} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
