---
import Counter from "@/components/Counter";
---

<section class="container">
  <h4 class="text-center text-base/7 font-semibold text-accent">Metrics</h4>
  <h2
    class="mx-auto my-3 text-center text-4xl font-medium tracking-tight text-balance text-foreground sm:text-5xl capitalize"
  >
    Driving Our Success
  </h2>
  <Counter client:visible />
</section>
