<div
  class="max-w-5xl p-6 lg:px-8 bg-white dark:bg-transparent dark:border my-10 mx-auto rounded-2xl"
>
  <div
    class="mx-auto flex flex-col items-center justify-center gap-8 max-w-2xl p-4"
  >
    <div class="max-w-xl lg:max-w-lg">
      <h2 class="text-4xl font-semibold tracking-tight text-foreground">
        Subscribe to our newsletter
      </h2>
      <p class="mt-4 text-lg text-gray-500">
        Nostrud amet eu ullamco nisi aute in ad minim nostrud adipisicing velit
        quis. Duis tempor incididunt dolore.
      </p>
      <div class="mt-6 flex max-w-md gap-x-4">
        <label for="email-address" class="sr-only">Email address</label>
        <input
          id="email-address"
          name="email"
          type="email"
          autocomplete="email"
          required
          class="min-w-0 flex-auto rounded-md border border-gray-400 bg-white/5 px-3.5 py-2 text-base text-black placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-500 sm:text-sm/6"
          placeholder="Enter your email"
        />
        <button
          type="submit"
          class="flex-none rounded-md bg-primary-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-primary-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500 cursor-pointer transition-colors duration-200 ease-in-out"
          >Subscribe</button
        >
      </div>
    </div>
  </div>
</div>
