---
import SlideOtherServices from "@/components/OtherServices";
import ServiceCard from "@/components/ServiceCard";
import { otherServices } from "@/data/services";
---

<section class="py-8">
  <div class="container px-4 md:px-8">
    <h2 class="text-center text-base/7 font-semibold text-accent">
      Other Services
    </h2>
    <div class="max-w-xl mx-auto text-center">
      <h3
        class="mx-auto my-3 text-center text-4xl font-medium tracking-tight text-balance text-foreground sm:text-5xl"
      >
        Other Services We Provide
      </h3>
      <p class="text-gray-400 mt-3">
        For transparent pricing and superior customer service on oversized
        equipment transportation, call Heavy Haulers today!
      </p>
    </div>
    <!-- <SlideOtherServices client:visible /> -->
    <ServiceCard service={otherServices} />
  </div>
</section>
