---
import SlideOtherServices from "@/components/OtherServices";
import SectionTitle from "@/components/SectionTitle.astro";
---

<section class="py-8">
  <div class="container px-4 md:px-8">
    <SectionTitle title="Other Services we provide" />
  </div>
  <SlideOtherServices client:visible />
</section>
