---
import SlideOtherServices from "@/components/OtherServices";
import SectionTitle from "@/components/SectionTitle.astro";

const { t } = Astro.props;
---

<section class="py-8">
  <div class="container px-4 md:px-8">
    <SectionTitle title={t.services.otherServices.title} />
  </div>
  <SlideOtherServices t={t} client:visible />
</section>
