---
import { SliceLogo } from "@/components/InfinityLogo";
---

<section class="py-8">
  <div class="container px-4 md:px-8">
    <h4 class="text-center text-base/7 font-semibold text-accent">Partners</h4>
    <h2
      class="mx-auto my-3 text-center text-4xl font-medium tracking-tight text-balance text-foreground sm:text-5xl"
    >
      Hauling from our partners
    </h2>
    <div class="mt-12 flex justify-center">
      <SliceLogo />
    </div>
  </div>
</section>
