---
import { SliceLogo } from "@/components/InfinityLogo";
import SectionTitle from "@/components/SectionTitle.astro";
---

<section class="py-8">
  <div class="container px-4 md:px-8">
    <SectionTitle title="our partners" />
    <div class="mt-12 flex justify-center">
      <SliceLogo />
    </div>
  </div>
</section>
