---
import ServiceCard from "@/components/ServiceCard";
---

<section class="container">
  <h4 class="text-center text-base/7 font-semibold text-accent">Services</h4>
  <h2
    class="mx-auto my-3 text-center text-4xl font-medium tracking-tight text-balance text-foreground sm:text-5xl capitalize"
  >
    We can handle any heavy transport
  </h2>
  <ServiceCard />
</section>
