---
import SectionTitle from "@/components/SectionTitle.astro";
import ServiceCard from "@/components/ServiceCard";
import { services } from "@/data/services";
---

<section class="container">
  <SectionTitle title="Our Services" />
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 py-5 px-4 items-center justify-center"
  >
    <ServiceCard service={services} />
  </div>
</section>
