---
import { TimelineDemo } from "@/components/Timeline";
---

<section class="container">
  <h4 class="text-center text-base/7 font-semibold text-accent">
    Road to Success
  </h4>
  <h2
    class="mx-auto my-3 text-center text-4xl font-medium tracking-tight text-balance text-foreground sm:text-5xl capitalize"
  >
    Our Specialized Services
  </h2>
  <TimelineDemo client:visible />
</section>
